{% extends "auth/auth_base.html" %}
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
{% block content_auth %}
<nav>
    <a href="/" class="admin-user-brick">
        <div> <span style="color: white;">Homepage</span></div>
    </a>
    <a href="/register" class="admin-user-brick">
        <div> <span style="color: white;">Register</span></div>
    </a>
</nav>
<div class="form-wieczorek">
<form class="login" method="post">
    <h1>Sign in</h1>
    <div class="login__field">
        <i class="login__icon fas fa-user"></i>
        <input required type="text" name="username" class="login__input" placeholder="User name / Email">
    </div>
    <div class="login__field">
        <i class="login__icon fas fa-lock"></i>
        <input required type="password" name="password" class="login__input" placeholder="Password">
    </div>
    <div class="button_box">  
        <button class="button_login__submit">
            <span class="button__text">Sign in</span>
        </button>
    </div>
</form>
</div>
{% call super() %}
{% endblock %}