{% extends "auth/auth_base.html" %}

{% block content_auth %}
<form class="login" method="post">
    <h1>Sign in</h1>
    <div class="login__field">
        <i class="login__icon fas fa-user"></i>
        <input required type="text" name="username" class="login__input" placeholder="User name / Email">
    </div>
    <div class="login__field">
        <i class="login__icon fas fa-lock"></i>
        <input required type="password" name="password" class="login__input" placeholder="Password">
    </div>
    <div class="button_box">  
        <button class="button_login__submit">
            <span class="button__text">Sign in</span>
        </button>
    </div>
  
</form>
{% call super() %}
{% endblock %}